<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.standard.mapper.StdStudyLevelMapper">
  <resultMap type="StdStudyLevel" id="StdStudyLevelResult">
    <result property="studyLevelId" column="study_level_id"/>
    <result property="studyLevelName" column="study_level_name"/>
    <result property="studyLevelCode" column="study_level_code"/>
    <result property="orderNum" column="order_num"/>
    <result property="remark" column="remark"/>
    <result property="status" column="status"/>
    <result property="delFlag" column="del_flag"/>
    <result property="createBy" column="create_by"/>
    <result property="createTime" column="create_time"/>
    <result property="updateBy" column="update_by"/>
    <result property="updateTime" column="update_time"/>
  </resultMap>

  <sql id="selectStdStudyLevelVo">
        select study_level_id, study_level_name, study_level_code, order_num, remark, status, del_flag, create_by, create_time, update_by, update_time from std_study_level
    </sql>

  <select id="selectStdStudyLevelList" parameterType="StdStudyLevel"
    resultMap="StdStudyLevelResult">
    <include refid="selectStdStudyLevelVo"/>
    <where>
      <if test="studyLevelName != null  and studyLevelName != ''">and study_level_name like
        concat('%',
        #{studyLevelName}, '%')
      </if>
      <if test="studyLevelCode != null  and studyLevelCode != ''">and study_level_code like
        concat('%',
        #{studyLevelCode}, '%')
      </if>
    </where>
    order by order_num
  </select>


</mapper>
