<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.collection.mapper.CltDataTypeMapper">
  <resultMap type="CltDataType" id="CltDataTypeResult">
    <result property="dataTypeId" column="data_type_id"/>
    <result property="dataTypeName" column="data_type_name"/>
    <result property="dataTypeCode" column="data_type_code"/>
    <result property="examModeCode" column="exam_mode_code"/>
    <result property="orderNum" column="order_num"/>
    <result property="remark" column="remark"/>
    <result property="status" column="status"/>
    <result property="delFlag" column="del_flag"/>
    <result property="createBy" column="create_by"/>
    <result property="createTime" column="create_time"/>
    <result property="updateBy" column="update_by"/>
    <result property="updateTime" column="update_time"/>
  </resultMap>

  <sql id="selectCltDataTypeVo">
        select data_type_id, data_type_name, data_type_code, exam_mode_code, order_num, remark, status, del_flag, create_by, create_time, update_by, update_time from clt_data_type
    </sql>

  <select id="selectCltDataTypeList" parameterType="CltDataType" resultMap="CltDataTypeResult">
    <include refid="selectCltDataTypeVo"/>
    <where>
      <if test="dataTypeName != null  and dataTypeName != ''">and data_type_name like concat('%',
        #{dataTypeName}, '%')
      </if>
      <if test="dataTypeCode != null  and dataTypeCode != ''">and data_type_code = #{dataTypeCode}
      </if>
      <if test="examModeCode != null  and examModeCode != ''">and exam_mode_code = #{examModeCode}
      </if>
    </where>
    order by order_num
  </select>


</mapper>
