<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TenantInfoMapper">

  <resultMap type="TenantInfo" id="TenantInfoResult">
    <result property="tenantInfoId" column="tenant_info_id"/>
    <result property="tenantId" column="tenant_id"/>
    <result property="tenantName" column="tenant_name"/>
    <result property="status" column="status"/>
    <result property="overTime" column="over_time"/>
    <result property="createTime" column="create_time"/>
    <result property="createBy" column="create_by"/>
    <result property="updateTime" column="update_time"/>
    <result property="updateBy" column="update_by"/>
    <result property="remark" column="remark"/>
  </resultMap>
  <sql id="selectTenantInfoVo">
        select tenant_info_id, tenant_id, tenant_name, status, over_time, create_time, create_by, update_time, update_by, remark from tenant_info
    </sql>

  <select id="selectTenantInfoList" parameterType="TenantInfo" resultMap="TenantInfoResult">
    <include refid="selectTenantInfoVo"/>
    <where>
      <if test="tenantId != null ">and tenant_id = #{tenantId}</if>
      <if test="tenantName != null  and tenantName != ''">and tenant_name like concat('%',
        #{tenantName}, '%')
      </if>
      <if test="status != null ">and status = #{status}</if>
      <if test="overTime != null ">and over_time = #{overTime}</if>
    </where>
  </select>
</mapper>